In [1]:
import pandas as pd
import matplotlib.pyplot as plt

So here we're going to go ahead and define our path to the data file. We'll be reusing the pettigrew data that we saw in our sql lesson, so we can do a nicely creative little relative path back to that other folder.  The `..` means that we want it to look up one level in the directory, then it'll start drilling down as we've asked for it.

In [4]:
datafilepath = '../SQL Lesson Materials/pettigrew.csv'

Once we have our path, we can pass that string to the `read_csv()` function from pandas. This can replace the need to use the csv module, and will load the resulting data into a pandas dataframe.  Because I've imported pandas as `pd`, I need to say `pd.` before all functions that I call from that library.  Meanwhile, this function will return bacx a dataframe object that we will need to save into memory.  The variable name ususally used for this is `df` (dataframe, you see it right?)

In [11]:
df = pd.read_csv(datafilepath)

When you are working in Jupypter Notebooks there are two ways to look at the contents of a dataframe.  You can use `print()` like you normally would, but it isn't a very pretty output.  Just text, which isn't very fun.  Instead, you can evaluate just the name of the dataframe variable, and the nice styling of Jupyter will take over.

Take a second look at this output.  There are several important things that you should notice.

* the left side has an unlabelled left side that's bolded.  This is the index row that pandas has added on.  We can change that later.
* the top row of data has automatically been interpreted as column names, and these look different from out rows of data.
* the original order of our data has been preserved.
* in the middle of this table, we can see that it skips the middle and it showing us now just the beginning and the end our data table.
* at the very end of the table it shows us how many rows and columns there are in our table.

Compared to how we were working with our data before, we can see a really important concept about this data structure: it both holds our data and carries with it very data centric metadata.  For example, instead of having a separate list strings that we know correspond to our column headers, the data frame carries that information inside itself.

In [9]:
df

,BoxNumber,FolderNumber,Contents,Date
0,1,1,[Provenance documents and biographical sources],n.d.
1,1,2,[Provenance documents and biographical sources],n.d.
2,1,3,[Provenance documents and biographical sources],n.d.
3,1,4,"Aberdeen, George Hamilton-Gordon, 4th Earl of,...",1846 Aug
4,1,5,"Abingdon, Montagu Bertie, 6th Earl of, 1808-18...","1859, 1860"
5,1,6,"Acland, Sir Thomas Dyke, bart., 1787-1871. ALS...",n.d.
6,1,7,"Aikin, Arthur, 1773-1854. 3 ALS to T. J. Petti...",1823-30
7,1,8,"Ailesbury, George William Frederick Brudnell-B...",1858-59
8,1,9,"Ainslie, Sir Whitelaw, 1767-1837. 1 ALS and 2 ...",1828 Jun
9,1,10,"Ainsworth, William Francis, 1807-1896. 5 ALS t...",1843-56
10,1,11,"Ainsworth, William Harrison, 1805-1882. 5 ALS ...",1854-60
11,1,12,"Akerman, John Yonge, 1806-1873. 9 ALS and 2 LS...",1849-56
12,1,13,"Albemarle, Charlotte (Hunloke) Keppel, Countes...",1822 Mar 8
13,1,14,"Albemarle, George Thomas Keppel, 6th Earl of, ...",1857 Jul-Aug
14,1,15,"Alcock, Thomas, 1784-1833. 3 AL to T. J. Petti...",1830-33
15,1,16,"Amyot, Thomas, 1775-1850. 6 ALS to T. J. Petti...",1827 and later
16,1,17,"Anderson, Joseph, 1789-1877. 3 ALS to T. J. Pe...",1843-47
17,1,18,Anglo-Biblical Institute. ALS (signed W. H. Cl...,1859 Nov 28
18,1,19,"Arran, Mary (Tyrrell), Countess, 1767?-1832. A...",[1824 or later]
19,1,20,"Arundale, Francis, 1807-1853. ALS to T. J. Pet...",n.d.
20,1,21,"Arundell, Henry Benedict Arundell, 11th Baron,...",1852 Jun-Sep
21,1,22,"Arundell, John Francis Arundell, 12th Baron, 1...",1860 Mar
22,1,23,"Ashburton, Alexander Baring, 1st Baron, 1774-1...",[1839 or later]
23,1,24,"Ashburton, William Bingham Baring, 2d Baron, 1...",n.d.
24,1,25,"Ashpitel, Arthur, 1807-1869. 3 ALS to T. J. Pe...",1850 Aug
25,1,26,"Auckland, George Eden, 1st Earl of, 1784-1849....",1828 Dec 7
26,1,27,"Auckland, Robert John Eden, 3d Baron, Bp. of B...",1856-59
27,1,28,"Ayrton, William, 1777-1858. ALS to T. J. Petti...",1827 Feb 1
28,1,29,"Babington, Benjamin Guy, 1794-1866. 3 ALS and ...",1830-38
29,1,30,"Babington, William, 1756-1833. AL to T. J. Pet...",1817 Jun 6
...,...,...,...,...
571,12,576,"Whatton, William Robert, 1790-1835. ALS to T. ...",1827 Jul 6
572,12,577,"Wheatley, J. H. W. ALS to T. J. Pettigrew",1831 Jan 15
573,12,578,"Whichcord, John, 1823-1885. ALS to T. J. Petti...",1850 Jun 21
574,12,579,"Whittaker, George Byrom, 1793-1847. ALS to T. ...",1824 May 13
575,12,580,"Whittaker, John William, 1790?-1854. 3 ALS to ...",1850-52
576,12,581,"Wilbraham, Roger, 1744-1829. 2 ALS and 1 AL to...",1825-27
577,12,582,"Wild, Charles, 1781-1835. ALS to T. J. Pettigrew",1828 Apr 12
578,12,583,"Wilkins, George, 1785-1865. ALS to T. J. Petti...",1852 Sep 6
579,12,584,"Wilkins, William, 1778-1839. ALS and AL to T. ...",1826 Feb
580,12,585-590,"Wilkinson, Sir John Gardner, 1797-1875. 91 ALS...",[1830]-58
581,13,591,"Williams, John, 1811-1862. 1 ALS to T.J. Petti...",1851 Oct 23
582,13,592,"Willis, Robert, 1800-1875. 1 AL to Sir John Ga...",1850 Jan 19
583,13,593,"Willson, Edward James, 1787-1854. ALS to T. J....",1852 Jul 30
584,13,594,"Wilson, Sir Daniel, 1816-1892. ALS to T. J. Pe...",1850 Jul 12
585,13,595,"Wilson, James Arthur, 1795-1882. 4 ALS to T. J...",[1836 or later]
586,13,596,"Wilson, Matthew. 4 ALS and 1 AL to T. J. Petti...",[1850 or later]
587,13,597,"Woodfall, George, 1767-1844. 4 ALS to T. J. Pe...",1829-34
588,13,598,"Word, J. ALS and LS to T. J. Pettigrew","1836 Sep, Nov"
589,13,599,"Wrangham, Francis, 1769-1842. 4 ALS to T. J. P...",1816-30
590,13,600,"Wright, John, 1770?-1844. 3 ALS to T. J. Petti...",[1842 or later]
591,13,601,"Wright, Thomas, 1810-1877. 10 ALS to T. J. Pet...",1840-45
592,13,602,"Wynyard, Miss. AL to Mr. Stephenson",n.d.
593,13,603,"Wyon, William, 1795-1851. ALS and AL to T. J. ...","1832, 1840"
594,13,604,"Yeats, Grant David, 1773-1836. AL to T. J. Pet...",1826 May 1
595,13,605,"Yorke, Charles Philip, 1764-1834. AL to T. J. ...",1817 Feb 3
596,13,606,"Yorke, Sir Joseph Sidney, 1768-1831. ALS to T....",1820 Sep 1
597,13,607,"Youatt, William, 1776-1847. 3 ALS to T. J. Pet...",1828-35
598,13,608,"Young, Sir Charles George, 1795-1869. 5 ALS an...",1853 Mar
599,13,609,"Young, G. 5 ALS to T.J. Pettigrew",1833-49
600,13,610,"Zouche, Robert Curzon, 14th Baron, 1810-1873. ...",1849 Jan 22

Now that we have a data frame, we can ask for some of this metadata.  Important to note here is that, in Python, there is a disctinction between asking an object to execute a method (roughly, a function that lives inside an object that's in your program) and asking for an object's attribute values.  Sometimes objects will have special methods for getting this data out, and other times it's directly accessible.  This all depends on what you are working with, thus you will be dependent on tutorials, documentation, or the source code to tell you what is available.  Sometimes there are nice introspection things available.  Anyhow.

Presuming that you're looking at something that is tacked onto the end of a varable or other data object (so basically not just a thing hanging out on its own).  So you have something like:

`object.doodad` or `object.pizza()`

* it's a method call if there are `()` on the end
* it's an attribute access if there's *no* parens

So which one is which?

`object.doodad` is an attribute access thing and `object.pizza()` is calling the `pizza()` method of `object`.  Of course, this all presumes that this object in question knows what to do with those things.c

Let's get back to pandas.

There are a series of metadata attributes about a dataframe that you can access to get some information out from it.

In [12]:
print(df.shape)

(601, 4)

This gives us the shape of our data frame as a tuple (so we can compute on this if we need), with the rows the first number and the columns the second number in there.

In [13]:
print(df.columns)

Index(['BoxNumber', 'FolderNumber', 'Contents', 'Date'], dtype='object')

This gives you, roughly, the names of the columns in your dataframe.  I say roughly because from a content perspective, that's true, but this is a special object.  This gives us a good segway to talking about data types and friends in dataframes.

This isn't just a list of strings. This is an `Index` object, that, yes, will roughly look and stink like a list, but exists with special metadata.  See that bit at the end?  It says `object`. We're going to talk about what that specifically means in a minute, but we first need to talk about what it means for a collection-like object to have a data type.  So this is an `Index` type object, and we can look at that clearly.

In [14]:
print(type(df.columns))

<class 'pandas.core.indexes.base.Index'>

But there's also the data type of the contents.  This is actually a pretty normal concept for other programming languages, but completely abnormal if you only know Python.  What pandas generally requires is that every 1D (one dimensional) object have the same data type.  For example, such and such collection is all floating numbers, while so and so collection is all strings.  This is because there are nice fancy things that you can do on some of these special kinds of collections.

The most permissive data type is the `object` time, which allows you to have just a pile of whatever.  In our case, we've got a bunch of strings.

The other data types are two different kinds of numbers